@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}

.row {
  display: grid;
  grid-template-columns: repeat(5,1fr); 
}

.main-box .box {
  width: 350px;
  background-color: white;
  margin: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  padding: 15px;
}

.main-box .box:hover {
  box-shadow: 0px 0px 15px black;
  color: white;
}

.main-box .box .id {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.main-box .box .firstName,
.main-box .box .lastName,
.main-box .box .email,
.main-box .box .gender {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}
#id {
  margin-bottom: 20px;
}

#firstName,
#lastName {
  display: inline-block;
  padding: 0 5px;
}